@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');
.map-container{
    position: fixed;
    top: 10%;
    left: 10%;
    margin: 10px 20px;
    width: 80%;
    border: 1px solid black; 
    height: 80%;
    z-index:0;
    border: none;
}