@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');
.map-container{
    /* position: fixed; */
    top: 10%;
    left: 0 ;
    height: 100%;
    z-index:-999999999;
    /* border: none; */
    
}

.icon {
    border: none;
    background: transparent;
    color: #8e8d8d;
}

